LANGUAGE 0,0 // LANG_NEUTRAL,SUBLANG_NEUTRAL = Language neutral

BGRA_V1_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\bgra_v1_bottomup_colortable.bmp"
BGRA_V1_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\bgra_v1_bottomup_no_colortable.bmp"
BGRA_V1_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\bgra_v1_topdown_colortable.bmp"
BGRA_V1_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\bgra_v1_topdown_no_colortable.bmp"
BGRA_V2_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\bgra_v2_bottomup_colortable.bmp"
BGRA_V2_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\bgra_v2_bottomup_no_colortable.bmp"
BGRA_V2_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\bgra_v2_topdown_colortable.bmp"
BGRA_V2_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\bgra_v2_topdown_no_colortable.bmp"
BGRA_V3_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\bgra_v3_bottomup_colortable.bmp"
BGRA_V3_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\bgra_v3_bottomup_no_colortable.bmp"
BGRA_V3_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\bgra_v3_topdown_colortable.bmp"
BGRA_V3_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\bgra_v3_topdown_no_colortable.bmp"
BGRA_V4_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\bgra_v4_bottomup_colortable.bmp"
BGRA_V4_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\bgra_v4_bottomup_no_colortable.bmp"
BGRA_V4_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\bgra_v4_topdown_colortable.bmp"
BGRA_V4_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\bgra_v4_topdown_no_colortable.bmp"
BGRA_V5_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\bgra_v5_bottomup_colortable.bmp"
BGRA_V5_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\bgra_v5_bottomup_no_colortable.bmp"
BGRA_V5_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\bgra_v5_topdown_colortable.bmp"
BGRA_V5_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\bgra_v5_topdown_no_colortable.bmp"

RGBA_V1_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\rgba_v1_bottomup_colortable.bmp"
RGBA_V1_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\rgba_v1_bottomup_no_colortable.bmp"
RGBA_V1_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\rgba_v1_topdown_colortable.bmp"
RGBA_V1_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\rgba_v1_topdown_no_colortable.bmp"
RGBA_V2_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\rgba_v2_bottomup_colortable.bmp"
RGBA_V2_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\rgba_v2_bottomup_no_colortable.bmp"
RGBA_V2_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\rgba_v2_topdown_colortable.bmp"
RGBA_V2_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\rgba_v2_topdown_no_colortable.bmp"
RGBA_V3_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\rgba_v3_bottomup_colortable.bmp"
RGBA_V3_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\rgba_v3_bottomup_no_colortable.bmp"
RGBA_V3_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\rgba_v3_topdown_colortable.bmp"
RGBA_V3_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\rgba_v3_topdown_no_colortable.bmp"
RGBA_V4_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\rgba_v4_bottomup_colortable.bmp"
RGBA_V4_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\rgba_v4_bottomup_no_colortable.bmp"
RGBA_V4_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\rgba_v4_topdown_colortable.bmp"
RGBA_V4_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\rgba_v4_topdown_no_colortable.bmp"
RGBA_V5_BOTTOMUP_COLORTABLE              BITMAP ".\\Data\\rgba_v5_bottomup_colortable.bmp"
RGBA_V5_BOTTOMUP_NO_COLORTABLE           BITMAP ".\\Data\\rgba_v5_bottomup_no_colortable.bmp"
RGBA_V5_TOPDOWN_COLORTABLE               BITMAP ".\\Data\\rgba_v5_topdown_colortable.bmp"
RGBA_V5_TOPDOWN_NO_COLORTABLE            BITMAP ".\\Data\\rgba_v5_topdown_no_colortable.bmp"

RGB32FAKEALPHA                           BITMAP ".\\Data\\BMP Suite\\Extra\\rgb32fakealpha.bmp"
PAL1                                     BITMAP ".\\Data\\BMP Suite\\pal1.bmp"
PAL1BG                                   BITMAP ".\\Data\\BMP Suite\\pal1bg.bmp"
PAL1WB                                   BITMAP ".\\Data\\BMP Suite\\pal1wb.bmp"
PAL4                                     BITMAP ".\\Data\\BMP Suite\\pal4.bmp"
PAL4GS                                   BITMAP ".\\Data\\BMP Suite\\pal4gs.bmp"
PAL4RLE                                  BITMAP ".\\Data\\BMP Suite\\pal4rle.bmp"
PAL8_0                                   BITMAP ".\\Data\\BMP Suite\\pal8-0.bmp"
PAL8                                     BITMAP ".\\Data\\BMP Suite\\pal8.bmp"
PAL8GS                                   BITMAP ".\\Data\\BMP Suite\\pal8gs.bmp"
PAL8NONSQUARE                            BITMAP ".\\Data\\BMP Suite\\pal8nonsquare.bmp"
PAL8OS2                                  BITMAP ".\\Data\\BMP Suite\\pal8os2.bmp"
PAL8RLE                                  BITMAP ".\\Data\\BMP Suite\\pal8rle.bmp"
PAL8TOPDOWN                              BITMAP ".\\Data\\BMP Suite\\pal8topdown.bmp"
PAL8V4                                   BITMAP ".\\Data\\BMP Suite\\pal8v4.bmp"
PAL8V5                                   BITMAP ".\\Data\\BMP Suite\\pal8v5.bmp"
PAL8W124                                 BITMAP ".\\Data\\BMP Suite\\pal8w124.bmp"
PAL8W125                                 BITMAP ".\\Data\\BMP Suite\\pal8w125.bmp"
PAL8W126                                 BITMAP ".\\Data\\BMP Suite\\pal8w126.bmp"
RGB16_565                                BITMAP ".\\Data\\BMP Suite\\rgb16-565.bmp"
RGB16_565PAL                             BITMAP ".\\Data\\BMP Suite\\rgb16-565pal.bmp"
RGB16                                    BITMAP ".\\Data\\BMP Suite\\rgb16.bmp"
RGB16BFDEF                               BITMAP ".\\Data\\BMP Suite\\rgb16bfdef.bmp"
RGB24                                    BITMAP ".\\Data\\BMP Suite\\rgb24.bmp"
RGB24PAL                                 BITMAP ".\\Data\\BMP Suite\\rgb24pal.bmp"
RGB32                                    BITMAP ".\\Data\\BMP Suite\\rgb32.bmp"
RGB32BF                                  BITMAP ".\\Data\\BMP Suite\\rgb32bf.bmp"
RGB32BFDEF                               BITMAP ".\\Data\\BMP Suite\\rgb32bfdef.bmp"

