:root {
  --languageColor: #067;
  --anchorBackgnd: #8ED;
  --monoboldBkgnd: #DEE;  
}

html { 
  font-family: Verdana, Tahoma, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  position: absolute;
  margin: 0;
  max-width: 820px;  
}
  
.Comment {
  margin-left: 40px;
  margin-right: 20px;
  font-size: 0.9rem;  
  font-weight: 600; 
  font-style: italic;  
  color: #206020;
}

.Language {
  display: inline-block;
  margin-left: 0px;
  width: 4em;
  font-size: 0.9rem;  
  font-weight: 600; 
  color: var(--languageColor);
}

.Language2 {
  display: inline-block;
  margin-left: 0px;
  width: 4em;
  font-weight: 600; 
  color: var(--languageColor);
}

.Number {
  font-weight: 600; 
  color: #008800;
}

.Maroon {
  color: Maroon;
}

br.half {
  margin: 0px;
  padding: 2px;
  display: block;
  font-size: 0.5em;
  content: " ";
}

p, div {
  padding: 10px 0;
  margin-left: 40px;
	margin-right: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
  width: min(760px, calc(100vw - 80px));
}

p.Decl {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E0E0E0;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
  overflow: hidden;
  width: calc(100% - 64px);
}

p.Hierarchy, div.Hierarchy {
  margin: 0 40px;
  padding: 0;
}

div > div {
  margin: 0;
  padding: 0;
}

hr {
  margin-left: 40px; 
}

h1 {
  font-size: 1.5rem;
  margin-top: 5pt;
  margin-bottom: 16pt;
  margin-left: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-left: 40px;
  margin-bottom: 4pt;
  margin-top: 16px; 
  padding-left: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  
}

h3 {
  font-size: 1.1rem;
  margin-left: 40px;
  margin-bottom: 4pt;
  margin-top: 16px; 
  padding-left: 0px;
}

a:link { color: blue; text-decoration: none }
a:visited { color: blue; text-decoration: none }
a:hover { color: black; text-decoration: none; background-color: var(--anchorBackgnd);}

li {  
  list-style-position: inside; 
  list-style-type: square;
  margin-top: 3pt; margin-bottom: 3pt;
  margin-left: 10px;
}

ul {
  margin-top: 8pt;
  margin-bottom : 8pt;
}

img {
  margin: 0; 
  border-width: 0; 
  padding: 0;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: scale-down;
  float: left;
}

span.plusImg {
  float: left;
  height: 40px;  
  width: 40px;
  padding: 10px;
}

span.plusImg > img {
  position: absolute;
  transform: translateY(200%);
}

span.monobold {
  font-family: Lucida Console, Courier, monospace;
  font-weight: 900; 
  font-size: 110%;  
}

span.monobold2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; 
  background-color: var(--monoboldBkgnd);
}

.Smaller {
  font-size: 0.85rem; 
}

.Copyright {
  font-size: 0.7rem; 
  color: #808090; 
  text-align: center; 
  font-family: Tahoma, Arial, sans-serif
}

div.pseudoTbl {  
  margin: 20px 20px 20px 40px;
  padding: 4px 0;
  background-color: #F0F0F0; 
  max-width: min(760px, calc(100vw - 80px));
}

span.floatLeft {
  float: left;
  margin: 5px 10px;
}

table {
  background-color: #F0F0F0;
  margin: 10px 20px 6px 40px;
  width: calc(100% - 64px);
}

p table {
  margin-left: 0;
  margin-right: 0;
  display: block;
  max-width: min(760px, calc(100vw - 80px));
  width: auto;
  overflow-x: auto;
}

td {
  padding-left: 3px; 
  padding-right: 7px; 
}

/*table.autoTbl almost obsolete*/
table.autoTbl, div.autoTbl {  
  border: none;
  background-color: #F0F0F0;
  padding: 1px;
  
  display: block;
  white-space: nowrap;
  max-width: min(760px, calc(100vw - 80px));
  width: auto;
}

div.autoTblContainer { 
  margin: 10px 0;
  padding: 0;
}

div.autoTbl { 
  overflow-x: hidden;
  margin: 0 20px 0 40px;
}

table.autoTbl { 
  overflow-x: auto;
}

table.autoTbl tbody { 
  max-width: min(758px, calc(100vw - 82px));
}

div.autoTbl div { 
  margin: 4px 10px;
  columns: 180px 3;
  line-height: 22px;
}

div.autoTbl span { 
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

table th {  
  text-align: left;
  padding: 2px 14px;
}

table.autoTbl td {    
  padding: 2px 0 2px 14px;
  white-space: nowrap;
  overflow-x: hidden;  
  min-width: 150px;
}

td.ancestor {
  padding-top: 2px; 
  padding-bottom: 4px;
  background-color: #e8e8e8;
  border-bottom: solid 1px white;
  border-top: solid 1px silver;
  width: min(740px, calc(100vw - 100px));
}