bin
*.cfg
*.dcu
*.dof
*.drc
*.dsk
*.exe
*.hpp
*.identcache
lib
*.local
*.map
*.obj
*.res
*.rsm
*.stat
/DocProcessor/Properties.ini
/Examples/*.tvsconfig
/Documentation/Docs
/Documentation/graphics32.chm
/Documentation/graphics32.chw
/Documentation/graphics32.hhc
/Documentation/graphics32.hhk
/Documentation/graphics32.hhp
Win32
Win64
*.~*~

# Lazarus
*.lps
backup/
Unit Cache/