MainIcon ICON "../../Media/GR32.ico"
Delphi JPG "../../Media/delphi.jpg"
Iceland JPG "../../Media/iceland.jpg"
MonaLisa JPG "../../Media/monalisa.jpg"
Runner JPG "../../Media/runner.jpg"
Sprite1 BMP "../../Media/sprite1.bmp"
Sprite1a BMP "../../Media/sprite1a.bmp"
Sprite2 BMP "../../Media/sprite2.bmp"
Sprite2a BMP "../../Media/sprite2a.bmp"
Sprite3 BMP "../../Media/sprite3.bmp"
Sprite3a BMP "../../Media/sprite3a.bmp"
SpriteTexture BMP "../../Media/sprite_texture.bmp"
Stones JPG "../../Media/stones.jpg"
Stoneweed JPG "../../Media/stoneweed.jpg"
TextureA JPG "../../Media/texture_a.jpg"
TextureB JPG "../../Media/texture_b.jpg"
