MainIcon ICON "../../Media/GR32.ico"
Delphi RCDATA "../../Media/delphi.jpg"
Iceland RCDATA "../../Media/iceland.jpg"
MonaLisa RCDATA "../../Media/monalisa.jpg"
Runner RCDATA "../../Media/runner.jpg"
Sprite1 RCDATA "../../Media/sprite1.bmp"
Sprite1a RCDATA "../../Media/sprite1a.bmp"
Sprite2 RCDATA "../../Media/sprite2.bmp"
Sprite2a RCDATA "../../Media/sprite2a.bmp"
Sprite3 RCDATA "../../Media/sprite3.bmp"
Sprite3a RCDATA "../../Media/sprite3a.bmp"
SpriteTexture RCDATA "../../Media/sprite_texture.bmp"
Stones RCDATA "../../Media/stones.jpg"
Stoneweed RCDATA "../../Media/stoneweed.jpg"
TextureA RCDATA "../../Media/texture_a.jpg"
TextureB RCDATA "../../Media/texture_b.jpg"
